*{

margin: 0;
padding: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
box-sizing: border-box; 

}

body{
    background:#ffffff;
    color: #000000;
}

#header{

    width: 100%;
    height: 200vh;
    background-image: url() ;
    background-size:50%;
    background-position: right;

}

.container{
      padding: 10px 10%;
      height: 650px;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;

}


.logo{
width: 225px;
}

.images{
    width: 40%;
    height: 60%;
    position:absolute;
    bottom: 20%;
    right: 100px;
}

.images img{
    height: 85%;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

span{
    color: #DE0F66;
}

.images:hover .shape{
    bottom: 35px;
}

.images:hover .boy{
    left: 57%;
}
nav ul li{

    display: inline-block;
    list-style: none;
    margin: 15px 25px;
}

nav ul li a{
color: #000000;
font-weight: normal;
text-decoration: none;
font-size: 20px;
position: relative;
}

nav ul li a::after{
    content: '';
    color: #cb08f2;
    transition: 0.3s;
    width: 0;
    height: 3px;
    background: #bf05eec6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    text-align: center;
}

.header-text{
      margin-top: 13%;
      font-size: 30px;
}

.header-text h1{
font-size: 60px;
margin-top: 20px;
}

.header-text p{
    margin-top: 35%;
    font-size: 100px;
}

.sub-title{
    font-family:serif;
    margin-top: 50px;
    background-color: #ffffff;
}

.sub-title h4{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: dimgray;
}

.sub-title p{
    margin-top: 60px;
    font-size: 36px;
    text-align: center;
    color: #010101;

}

.container1{
    text-align: center;
    margin-top: 1px;
}

.btn{
    margin-bottom: 20px;
    border: 1px solid #cb08f2;
    background: transparent;
    letter-spacing: 0.5px;
    padding: 5px 5px;
    font-size: 10px;
    font-weight: normal;
    width: 155px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    background-image: linear-gradient(#DE0F66
    100%
    #AA109D
    100%
    #770ACD
    100%);
    
    
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(255, 254, 254, 0.1);
    -webkit-transform: scale(1);
    transform: scale(1);
align-items: center;    color: #070707;
    background-color: #000000;
}

.box-bg{
    align-items: center;
}

.smallbgimage{
    width: 40%;
    height: 60%;
    position:relative;
    bottom: 5%;
    right: 350px;
}   

.box-img{
    background-color: red;
    position: relative;
    bottom: 600px;
    left: 100px;

}

#box-1{
    margin-left: 12px;
    width: 15px;
    top: 10px;
}

#box-2{
    margin-left: 12px;
    width: 15px;
    margin-top: 10px;
}

#box-3{
    margin-top: 10px;
    margin-left: 320px;
    bottom: 382px;
    position: relative;
    margin-right: 250px;
}

#box-4{
    margin-top: -750px;
    margin-left: 630px;
    bottom: 382px;
    position: relative;
    margin-right: 250px;
}

